<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>手机站</title>
    <!---*****************************引入样式文件********************************-->
    {{include file="public/link"}}
</head>

<body>

<!-- ****************************引入header文件**************************** --->
{{include file="public/header"}}

<!--******************************声明content区块*****************************-->

{{block name="content"}}


{{/block}}

<!--*****************************引入foot文件**********************************-->
{{include file="public/foot"}}
</body>
</html>
