<link rel="stylesheet" href="__STATIC__/wap/css/frozen.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/wap/css/style.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/wap/css/component.css" type="text/css" /><!--daohang-->

<script type="text/javascript" src="__STATIC__/wap/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/wap/js/modernizr.custom.js"></script><!--daohang-->
<script type="text/javascript" src="__STATIC__/wap/js/jquery.dlmenu.js"></script><!--daohang-->
<script type="text/javascript" src="__STATIC__/wap/js/superslide.2.1.js"></script>