{{extend name="public/base"}}
{{block name="content"}}
<!--banner-->

<!--/banner-->

<div class="heng_box heng_box_4">
    <div class="plan_com">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title_ty title_ty_3" id="title_ty">
                    <a href="服务-接待服务.html" class="cur" data="1">接待服务</a>
                    <a href="服务-藏友沙龙.html" data="2">藏友沙龙</a>
                    <a href="服务-VIP服务.html" data="3">VIP服务</a>
                </div>
                <div class="detailCont PL10 PR10">
                    <div class="div_middle noborder">
                        <p><img src="__STATIC__/index/images/upload/gy01.png" class="img-responsive" /></p>
                        <div>
                            <p style="padding-bottom:20px;">
                                深圳嘉泽拍卖有限公司 成立于2010年，注册资金5000万元。是经国家工商局、国家商务部委员会、国家文物局核准的综合性大型拍卖公司。公司主要经营土地矿山、房产、罚没资产、古董艺术品的拍卖（包括中国画，油画、瓷器、玉器、佛造像、明清家具、青铜金银器、古籍善本、邮品钱币、奇石、中外名酒、珠宝奢侈品）。公司隶属中能文化公司子公司、于北京，深圳，香港，美国各地均设有分公司进行业务开展。集团公司拥有雄厚的投资背景支持、强大的国家级文物专家顾问团、资深的拍卖业务队伍，丰富的艺术品运作交易经验。以创新、诚信的经营理念，严格遵守我国《拍卖法》、《文物保护法》、《拍卖管理办法》等法律法规的规定，不断完善拍卖工作程序。为国内外收藏家提供一个集鉴定、拍卖、展览、私恰、学术交流为一体的专业交易平台。
                            </p>
                            <p style="padding-bottom:20px;">
                                2017年为响应国家“一带一路”“纪念香港回归二十周年”在香港举行大型拍卖会，共《鹊华秋实-中国书画专场》《大观-宫廷瓷器专场》《璞玉-珠宝玉石专场》《沉淀-邮品钱币专场》《14世纪佛造像专场》《茅台酒专场》六大专场，并取得了总成交25.12亿的可喜成绩。
                            </p>
                            <p>2018年，公司成立八周年大型艺术品拍卖会现正在火热征集中。</p>
                            <p>征集办事处：</p>
                            <p>地址：广东省深圳市罗湖区京基100</p>
                            <p>征集电话：400-008-5700</p>
                            <p>邮箱：ceaart@163.com</p>
                            <p>联系电话：400-008-5700</p>
                            <p class="center"><img src="__STATIC__/index/images/upload/gy02.jpg" class="img-responsive" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}