<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />-->
<!-- Styles -->
<link href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- layout CSS -->
<link href="__STATIC__/css/layout.css" rel="stylesheet" />
<!-- Javascript files -->
<script src="__STATIC__/js/jquery.js" type="text/javascript"></script>
<!-- Dialog -->
<link href="__STATIC__/lib/artDialog/skins/default.css" rel="stylesheet" type="text/css" />
<script src="__STATIC__/lib/artDialog/artDialog.source.js" type="text/javascript"></script>
<script src="__STATIC__/lib/artDialog/iframeTools.source.js" type="text/javascript"></script>
<script src="__STATIC__/js/common.js" type="text/javascript"></script>

<!-- Custom JS -->
<script src="__STATIC__/js/layout.js" type="text/javascript"></script>
<!-- Custom CSS -->
<link href="__STATIC__/css/default.css" rel="stylesheet" />
<!-- Javascript files -->

<!-- Bootstrap JS -->
<script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>

<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />-->

<!-- Custom CSS -->
<link href="__STATIC__/css/style.css" rel="stylesheet" />
<!-- Javascript files -->

<script src="__STATIC__/js/kedit/KindEditor.js" type="text/javascript"></script>
<!-- Custom JS -->
<script type="text/javascript" src="__STATIC__/lib/date/calendar.js"></script>

{{load file="__STATIC__/ueditor/ueditor.config.js"}}
{{load file="__STATIC__/ueditor/ueditor.all.js"}}
<!-- Dialog -->
<link href="__STATIC__/lib/artDialog/skins/default.css" rel="stylesheet" type="text/css" />
<script src="__STATIC__/lib/artDialog/artDialog.source.js" type="text/javascript"></script>
<script src="__STATIC__/lib/artDialog/iframeTools.source.js" type="text/javascript"></script>


<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/main.css">


