<!--脚部开始-->

<div class="footer hidden-xs">
    <div class="footer_com clearfix">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <p>
                <img src="__STATIC__/index/images/xiaotubiao.jpg" class="img-responsive" />&nbsp;&nbsp;权威监督
            </p>
            <p class="PL10">
                公司地址：深圳罗湖区京基100大厦2506&nbsp;&nbsp;业务咨询：400 008 5700&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备16022244号-4</a>
            </p>
            <p class="PL10">
                法律顾问：深圳知名律师&nbsp;&nbsp;深圳律师事务所
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="div_ewm center">
                <img src="__STATIC__/index/images/ewm.jpg" class="img-responsive" alt="二维码" />
                <p>官方微信</p>
            </div>
        </div>
    </div>
</div>

<!--脚部结束-->
<!--底部导航开始-->
<div id="tool">
    <ul class="toollist toollist_gray">
        <li>
            <a href="/">
                <img src="__STATIC__/index/images/f_home.png" alt="">
                <p>
                    首页
                </p>
            </a>
        </li>
        <li>
            <a href="tel:137-1812-1010">
                <img src="__STATIC__/index/images/f_tel.png" alt=""><p>
                一键拨号
            </p>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=835862159&amp;site=qq&amp;menu=yes">
                <img src="__STATIC__/index/images/f_qqs.png" alt=""><p>
                QQ咨询
            </p>
            </a>
        </li>
        <li>
            <a href="sms:13718121010">
                <img src="__STATIC__/index/images/f_message.png" alt=""><p>
                发送短信
            </p>
            </a>
        </li>
    </ul>
</div>
<!--底部导航结束-->