<link rel="stylesheet" type="text/css" href="__STATIC__/index/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/index/bootstrap-3.3.7-dist/css/font-awesome.css" />
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/response.css" />
<!-- jQuery -->
<script src="__STATIC__/index/js/jquery.js" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="__STATIC__/index/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- Slider JS -->
<script type="text/javascript" src="__STATIC__/index/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/Lunbo.js"></script>
<!-- Animation JS -->
<script type="text/javascript" src="__STATIC__/index/js/scrollReveal.min.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="__STATIC__/index/js/custom.js"></script>

