<header class="w100">
    <div class="logo"><a href="index.html"><img src="__STATIC__/index/images/logo.png" /></a></div>
    <div id="dl-menu" class="dl-menuwrapper">
        <button id="dl-menu-button">Open Menu</button>
        <ul class="dl-menu">
            <li><a href="{{:url('wap/index/index')}}">首页</a></li>
            <li><a href="{{:url('wap/synopsis/index')}}">公司概况</a></li>
            <li><a href="{{:url('wap/video/index')}}">视频</a></li>
            <li><a href="{{:url('wap/image/index')}}">图片</a></li>
            <li><a href="{{:url('wap/article/index')}}">文章</a></li>
            <li><a href="{{:url('wap/recruit/index')}}">诚聘英才</a></li>
        </ul>
    </div>
</header>