{{extend name="public/base"}}
{{block name="content"}}

<div class="heng_box heng_box_4">
    <div class="plan_com">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title_ty title_ty_3" id="title_ty">
                    <a href="资讯-嘉泽资讯.html" data="1">嘉泽资讯</a>
                    <a href="资讯-行业动态.html" class="cur" data="2">行业动态</a>
                </div>
                <div class="c1_list">
                    <ul class="listnew P10 PT15">
                        <li data-sr="move 100px, over .8s,wait .1s, enter bottom">
                            <div class="col-md-4 col-sm-4 col-xs-12 P0">
                                <a class="divImg" href="#">
                                    <img src="__STATIC__/index/images/upload/zx01.jpg" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="divCon">
                                    <a href="#" class="title font16">清康熙 藍地黃彩趕珠雲龍盤 《大清康熙年製》款</a>
                                    <div class="desc font14 PT15 PB15">
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                    </div>
                                    <div class="time">
                                            <span class="font14 color999">
                                                时间：2018-03-26
                                            </span>
                                            <span class="font14 color999 right">
                                                <i class="fa fa-eye"></i>2891
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-sr="move 100px, over .8s,wait .1s, enter bottom">
                            <div class="col-md-4 col-sm-4 col-xs-12 P0">
                                <a class="divImg" href="#">
                                    <img src="__STATIC__/index/images/upload/zx02.jpg" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="divCon">
                                    <a href="#" class="title font16">清康熙 藍地黃彩趕珠雲龍盤 《大清康熙年製》款</a>
                                    <div class="desc font14 PT15 PB15">
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                    </div>
                                    <div class="time">
                                            <span class="font14 color999">
                                                时间：2018-03-26
                                            </span>
                                            <span class="font14 color999 right">
                                                <i class="fa fa-eye"></i>2891
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-sr="move 100px, over .8s,wait .1s, enter bottom">
                            <div class="col-md-4 col-sm-4 col-xs-12 P0">
                                <a class="divImg" href="#">
                                    <img src="__STATIC__/index/images/upload/zx03.jpg" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="divCon">
                                    <a href="#" class="title font16">清康熙 藍地黃彩趕珠雲龍盤 《大清康熙年製》款</a>
                                    <div class="desc font14 PT15 PB15">
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                    </div>
                                    <div class="time">
                                            <span class="font14 color999">
                                                时间：2018-03-26
                                            </span>
                                            <span class="font14 color999 right">
                                                <i class="fa fa-eye"></i>2891
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-sr="move 100px, over .8s,wait .1s, enter bottom">
                            <div class="col-md-4 col-sm-4 col-xs-12 P0">
                                <a class="divImg" href="#">
                                    <img src="__STATIC__/index/images/upload/zx04.jpg" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="divCon">
                                    <a href="#" class="title font16">清康熙 藍地黃彩趕珠雲龍盤 《大清康熙年製》款</a>
                                    <div class="desc font14 PT15 PB15">
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                        作为中国艺术品互联网拍卖先驱,首创的网上拍卖模式,为艺术品收藏爱好者提供便捷、专业的
                                        拍卖、书画拍卖及拍卖预展服务,并全面提供艺术品市场动态、鉴藏
                                        服务,并全面提供艺术品市场动态、服务,并全面提供艺术品市场动态、
                                    </div>
                                    <div class="time">
                                            <span class="font14 color999">
                                                时间：2018-03-26
                                            </span>
                                            <span class="font14 color999 right">
                                                <i class="fa fa-eye"></i>2891
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pager" data-sr="move 100px, over .8s,wait .1s, enter bottom">
                    <div class="pagin-list col-md-12 col-sm-12 col-xs-12">
                        <a href="#">首页</a>
                        <span class="current">1</span>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">5</a>
                        <a class="last" href="#">尾页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/block}}