{{extend name="public/base"}}

{{block  name="content"}}
<!--banner end-->
<div class="nav-zong">
    <div id="wrapper">
        <ul class="category_nav">
            <li><a href="{{:url('wap/index/index')}}"><img src="__STATIC__/wap/img/icon_12.png" /></a></li>
            <li class="one">
                <a href="{{:url('wap/video/index')}}">精美视频</a>
            </li>
        </ul>
    </div>
</div>
<!--nav end-->
<div class="cp-xq clearfix">
    <h3>{{$result['title']}}</h3>
    <div class="cp_img">
        <video src="__STATIC__/upload/video/{{$result['filename']}}" style="width: 300px;height: 160px" autoplay controls></video>
    </div>
    <div class="cp_m">
        <p>{{$result['sdescribe']}}</p>
        <p>时间:{{:date('Y-m-d H:i:s',$result['created_at'])}}</p>
    </div>
    <div class="cp_main">
        <p>{{$result['content']}}</p>
    </div>
</div>
{{/block}}