{{extend name="public/base"}}

{{block name="content"}}
<table class="table table-condensed table-bordered table-hover table-striped">
    <tr>
        <td>ID</td>
        <td>分类名称</td>
        <td>创建时间</td>
        <td>操作菜单</td>
    </tr>
{{volist name="list" id="vo"}}
    <tr>
        <td>{{$vo['id']}}</td>
        <td>{{:str_repeat('--',$vo['level'])}}{{$vo['videocategoryname']}}</td>
        <td>{{$vo['created_at']}}</td>
        <td>
            <a href="{{:url('admin/video/editCategory',['id'=>$vo['id']])}}" class="btn btn-primary">编辑</a>
            <a href="{{:url('admin/video/delCategory',['id'=>$vo['id']])}}" class="btn btn-danger">删除</a>
        </td>
    </tr>
    {{/volist}}
</table>
{{/block}}