{{extend name="public/base"}}
{{block name="content"}}

<div class="heng_box heng_box_4">
    <div class="plan_com">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="c1_detail P15">
                    <div class="div_middle noborder PT30">
                        <h4 class="h4">
                            {{$articleDetail->title}}
                        </h4>
                        <p class="time">{{$articleDetail->created_at}}　作者：{{$articleDetail->author}}</p>
                        <div class="detailsCont">
                            <p style="text-align:center; padding-bottom:20px;">
                                {{if condition="isset($articleFile)"}}
                                {{volist name="articleFile" id="file"}}
                                <img src="__STATIC__/upload/article/{{$file->filename}}" class="img-responsive" />
                                {{/volist}}
                                {{/if}}
                            </p>
                            <div style="width: 700px;margin-left: 220px">
                            {{$articleDetail->content}}
                            </div>
                        </div>
                    </div>
                    <div class="div_bottom">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{/block}}