{{extend name="public/base"}}

{{block name="content"}}

<form action="{{:url('admin/admin/doDetail')}}" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">昵称</label>
        </div>
        <div class="col-md-5">
            <input type="text" name="nick_name" value="{{$result->nick_name}}" class="form-control"  style="background-color: rgba(255,255,200,0.8);" required>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">用户名</label>

        </div>
        <div class="col-md-5">
            <input type="text" name="username" value="{{$result->username}}" class="form-control"  style="background-color: rgba(255,255,200,0.8);" required>
        </div>
        <div class="col-md-5">
            <span class="help-block">用户名必须填写</span>
        </div>
    </div>
    <div class="form-group">


            <input type="hidden" name="id" value="{{$Think.session.admin}}">

    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">密码</label>
        </div>
        <div class="col-md-5">
            <input type="password" name="password" value="" class="form-control"  style="background-color: rgba(255,255,200,0.8);" required>
        </div>
        <div class="col-md-5">
            <span class="help-block">密码必须填写</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">确认密码</label>
        </div>
        <div class="col-md-5">
            <input type="password" name="repassword" value="" class="form-control"  style="background-color: rgba(255,255,200,0.8);" required>
        </div>
        <div class="col-md-5">
            <span class="help-block">确认密码必须填写</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" value="编辑" class="btn btn-primary">
            <input type="reset" value="取消" class="btn btn-default">
        </div>
    </div>
</form>

{{/block}}