{{extend name="public/base"}}
{{block name="content"}}
<form id="newsAddForm"  action="{{:url('admin/recruit/doRelease')}}" method="post" enctype="multipart/form-data">

    <div class="formzone">
        <div class="font-weight">
            发布职位
        </div>
        <div class="tablezone">
            <table width="100%" cellspacing="0" cellpadding="2" border="0" align="center">
                <tbody>
                <tr>
                    <td width="100" height="30" align="center">职位名称</td>
                    <td height="30">
                        <input name="recruitname" class="input" id="jobname" value="" size="30" maxlength="200" type="text" required />
                        <font color="#FF0000">*</font>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">职位类型</td>
                    <td height="30">
                        <input name="type" value="0" checked="checked" type="radio" />
                        全职          <input name="type" value="1" type="radio" />
                        兼职          <input name="type" value="2" type="radio" />
                        全/兼职
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">性别</td>
                    <td height="30">
                        <input name="sex" value="0" checked="checked" type="radio" />
                         不限 <input name="sex" value="1" type="radio" />
                        男          <input name="sex" value="2" type="radio" />
                        女
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">年龄</td>
                    <td height="30">
                        <input name="maxage" checked="checked" type="text" required maxlength="3"/>
                        最大年龄          <input name="minage" type="text" required  maxlength="3"/>
                        最小年龄
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">工作经验</td>
                    <td height="30">
                        <select name="current" id="experience">
                            <option value="0" selected="selected">不要求</option>
                            <option value="001">应届毕业生</option>
                            <option value="1">1年以上</option>
                            <option value="2">2年以上</option>
                            <option value="3">3年以上</option>
                            <option value="4">4年以上</option>
                            <option value="5">5年以上</option>
                            <option value="6">6年以上</option>
                            <option value="7">7年以上</option>
                            <option value="8">8年以上</option>
                            <option value="9">9年以上</option>
                            <option value="10">10年以上</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">学历要求</td>
                    <td height="30">
                        <select name="education" id="education">
                            <option value="0" selected="selected">不要求</option>
                            <option value="1">初中</option>
                            <option value="2">高中</option>
                            <option value="3">中专</option>
                            <option value="4">大专</option>
                            <option value="5">本科</option>
                            <option value="6">硕士</option>
                            <option value="7">博士</option>
                            <option value="8">博士后</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">招聘人数</td>
                    <td height="30">
                        <input name="popnumber" class="input" id="pnums" value="" size="3" maxlength="200" type="text" required/>
                        <font color="#FF0000">*</font>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">工作地点</td>
                    <td height="30">
                        <input name="workingplace" class="input" id="jobaddr" value="" size="30" maxlength="200" type="text"  required/>
                        <font color="#FF0000">*</font>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">专业</td>
                    <td height="30">
                        <textarea name="major" rows="8" class="textarea"  style="width:500px"></textarea>
                        <input type="hidden" name="admin_id" value="{{$Think.session.admin}}">
                        <font color="#FF0000">*</font>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">职位描述</td>
                    <td height="30">
                        <textarea name="duty" rows="8" class="textarea" id="jobintro" style="width:500px"></textarea>
                        <font color="#FF0000">*</font>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">招聘要求</td>
                    <td height="30">
                        <textarea name="requirement" rows="8" class="textarea" id="jobrequest" style="width:500px"></textarea>
                        <font color="#FF0000">*</font>
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">联 系 人</td>
                    <td height="30"><input name="contactscall" class="input" id="contact" value="" size="30" maxlength="200" type="text" required/>              </td>
                </tr>
                <tr>
                    <td height="30" align="center">联系电话</td>
                    <td height="30"><input name="phone" class="input" id="tel" value="" size="50" maxlength="200" type="text" required/>              </td>
                </tr>
                <tr>
                    <td height="30" align="center">电子邮件</td>
                    <td height="30"><input name="contactsemail" class="input" id="email" value="" size="50" maxlength="200" type="text" />              </td>
                </tr>
                <tr>
                    <td height="30" align="center">招聘状态</td>
                    <td height="30">
                        <select name="is_line" id="jobstat">
                            <option value="1" selected="selected">正在招聘</option>
                            <option value="0">停止招聘</option>

                        </select>
                    </td>
                </tr>



                </tbody>
            </table>

        </div>
        <div class="adminsubmit">
            <input  onclick="KindSubmit();" value="提 交" class="btn btn-default" type="submit" />
        </div>

    </div>
</form>

{{/block}}